/*
@media (min-width: 1280px) {
    .main_body{
        width: 71.78%;
    }
    .online_friends{
        width: 25%;
    }
}
@media (min-width: 980px) {
    .main_body{
        width: 71.78%;
    }
    .online_friends{
        width: 25%;
    }
}
*/

.main_body {
    /*width: 980.5px;*/
    height: 100%;
    float: left;
    border-right: 2px solid #005271;
    padding: 10px;
}

.online_friends {
    /*width: 341px;*/
    height: 100%;
    border-left: 2px solid #2288bb;
    float: right;
    padding: 10px;
}