.body {
    width: auto;
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 40px;
}

.profile_img {
    float: left;
    width: 300px;
    height: 400px;
    border: 1px solid;
    padding: 0;
}

.profile_details {
    float: left;
    padding: 10px;
    width: 650px;
    /*border: 1px solid;*/
}

.edit_option {
    font-size: 18px;
    width: 100%;
    float: left;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border: 1px solid;*/
    border-collapse: collapse;
}

.edit_option input {
    width: 100%;
    background: #fff;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    padding: 1%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
}

.edit_option td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit {
    width: 20px;
    height: 20px;
    float: right;
    padding: 10px;
    border: 1px #f0f0f0 solid;
    background: #574390;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
}

.edit:hover {
    box-shadow: 5px 5px 10px;
}